.logo{
    height:60px;
    width: auto;
}

.Navbar{
    font-family: 'Merienda', cursive;

    padding:0px;
    background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-navbar:hover{
    height:100%;
    transform: translate(4px, -2px);
    color: #2D0151;
    z-index: 5;
}

.item{
    margin-right: 10px;
    margin-left: ;
    color: rgba(166, 60, 91, .8);
}

.item:hover{
    text-decoration:none;
    color: rgba(122, 45, 68, .8);
}

.item-bg:hover{
    background: rgba(136, 207, 154, .3);
}

.logo-footer{
    height: 120px
}

.footer{
    padding:10px;
    max-height: 220px;
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo-nav{
    background: rgba(31, 27, 66, .1 );
}

.Link-nav{
    color:rgba(94, 24, 19, .7);
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px groove brown;
}

.Link-nav:hover{
    color:black;
    text-decoration:none;
}
