.logo{
    height:60px;
    width: auto;
}

.Navbar{
    font-family: 'Merienda', cursive;

    padding:0px;
    background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-navbar:hover{
    height:100%;
    transform: translate(4px, -2px);
    color: #2D0151;
    z-index: 5;
}

.item:hover{
    background: rgba(235, 116, 91, .5);
}

.logo-footer{
    height: 120px
}

.footer{
    padding:10px;
    max-height: 220px;
    background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
